:root {
  /* === COLOURS === */
  --clay-bg-app: var(--loam---web-library---colors--background);
  --clay-border: #302f2c;
  --clay-accent: #3859f9;
  --clay-text-primary: #000000;
  --clay-text-secondary: #282c35;
  --clay-accent-warm: #fa6900;
  --clay-accent-cool: #0382f7;
  --_swatches---color--black: #000000;
  --_swatches---color--white: #ffffff;
  --_swatches---color--oat-50: #fffcfa;
  --_swatches---color--oat-100: #f9f8f6;
  --_swatches---color--oat-200: #f3f2ed;
  --_swatches---color--oat-300: #eee9df;
  --_swatches---color--oat-400: #dad4c8;
  --_swatches---color--oat-500: #c0bbaf;
  --_swatches---color--oat-600: #9f9b93;
  --_swatches---color--oat-700: #85817a;
  --_swatches---color--oat-800: #55534e;
  --_swatches---color--oat-900: #363430;
  --_swatches---color--oat-950: #1b1a18;
  --_swatches---color--grey-50: #f7f8f9;
  --_swatches---color--grey-100: #eff1f3;
  --_swatches---color--grey-200: #e6e8ec;
  --_swatches---color--grey-300: #d6d9df;
  --_swatches---color--grey-400: #bfc4cd;
  --_swatches---color--grey-500: #979da9;
  --_swatches---color--grey-600: #717989;
  --_swatches---color--grey-700: #525a69;
  --_swatches---color--grey-800: #3c414d;
  --_swatches---color--grey-900: #282c35;
  --_swatches---color--grey-950: #16181f;
  --_swatches---color--blueberry-50: #ecf6ff;
  --_swatches---color--blueberry-100: #d7ebfe;
  --_swatches---color--blueberry-200: #bee0ff;
  --_swatches---color--blueberry-300: #83c4ff;
  --_swatches---color--blueberry-400: #4ca8fd;
  --_swatches---color--blueberry-500: #0382f7;
  --_swatches---color--blueberry-600: #0667d9;
  --_swatches---color--blueberry-700: #0053b5;
  --_swatches---color--blueberry-800: #01418d;
  --_swatches---color--blueberry-900: #002f67;
  --_swatches---color--blueberry-950: #001e4b;
  --loam---web-library_swatches---blueberry--400: #3859f9;
  --_swatches---color--tangarine-50: #fff3ed;
  --_swatches---color--tangarine-100: #ffe9d5;
  --_swatches---color--tangarine-200: #fdd4b7;
  --_swatches---color--tangarine-300: #ffbe90;
  --_swatches---color--tangarine-400: #ffa775;
  --_swatches---color--tangarine-500: #fc8936;
  --_swatches---color--tangarine-600: #fa6900;
  --_swatches---color--tangarine-700: #c34e1b;
  --_swatches---color--tangarine-800: #9f3e15;
  --_swatches---color--tangarine-900: #752b12;
  --_swatches---color--tangrine-950: #431407;
  --_swatches---color--lemon-100: #fff8d2;
  --_swatches---color--lemon-200: #fef0a4;
  --_swatches---color--lemon-300: #fadf7c;
  --_swatches---color--lemon-400: #f8cc65;
  --_swatches---color--lemon-500: #fbbd41;
  --_swatches---color--lemon-600: #fdad15;
  --_swatches---color--lemon-700: #d08a11;
  --_swatches---color--lemon-800: #9d6a09;
  --_swatches---color--lemon-900: #7f500a;
  --_swatches---color--lemon-950: #623c02;
  --_swatches---color--ube-50: #f5f3ff;
  --_swatches---color--ube-100: #e9e4ff;
  --_swatches---color--ube-200: #d8d0ff;
  --_swatches---color--ube-300: #c1b0ff;
  --_swatches---color--ube-400: #a789fe;
  --_swatches---color--ube-500: #8b5cf6;
  --_swatches---color--ube-600: #7934f0;
  --_swatches---color--ube-700: #5c15cc;
  --_swatches---color--ube-800: #43089f;
  --_swatches---color--ube-900: #32037d;
  --_swatches---color--matcha-100: #dbffe0;
  --_swatches---color--matcha-200: #bcf4ca;
  --_swatches---color--matcha-300: #84e7a5;
  --_swatches---color--matcha-400: #3ece82;
  --_swatches---color--matcha-500: #0dac65;
  --_swatches---color--matcha-600: #078a52;
  --_swatches---color--matcha-700: #02693e;
  --_swatches---color--matcha-800: #02492a;
  --_swatches---color--matcha-900: #03331d;
  --_swatches---color--pomegranate-100: #ffebec;
  --_swatches---color--pomegranate-200: #fecdd3;
  --_swatches---color--pomegranate-400: #fc7981;
  --_swatches---color--pomegranate-500: #e94d68;
  --_swatches---color--pomegranate-600: #dd2c53;
  --_swatches---color--pomegranate-700: #b21a3f;
  --_swatches---color--dragonfruit-50: #fff5fc;
  --_swatches---color--dragonfruit-100: #ffe5f7;
  --_swatches---color--dragonfruit-200: #ffd1f1;
  --_swatches---color--dragonfruit-300: #ffb8e8;
  --_swatches---color--dragonfruit-400: #ff99df;
  --_swatches---color--dragonfruit-500: #ff7ad5;
  --_swatches---color--dragonfruit-600: #ff52c2;
  --_swatches---color--dragonfruit-700: #f90ba6;
  --_swatches---color--dragonfruit-800: #cc0687;
  --_swatches---color--dragonfruit-900: #8b045c;
  --_swatches---color--slushie-50: #f5fdff;
  --_swatches---color--slushie-100: #e0f8ff;
  --_swatches---color--slushie-200: #c7f3ff;
  --_swatches---color--slushie-300: #a3ebff;
  --_swatches---color--slushie-400: #7ae3ff;
  --_swatches---color--slushie-500: #3bd3fd;
  --_swatches---color--slushie-600: #2abeea;
  --_swatches---color--slushie-700: #02a8d4;
  --_swatches---color--slushie-800: #0089ad;
  --_swatches---color--slushie-900: #005870;
  --_swatches---color--slushie-950: #00303d;
  --loam---web-library---colors--background: var(--loam---web-library_swatches---neutrals--white);
  --brand-surface-1: rgb(203, 216, 16);
  --brand-surface-2: rgb(255, 118, 20);
  --brand-surface-3: rgb(66, 157, 255);
  --brand-surface-4: rgb(139, 4, 92);
  --brand-surface-5: rgb(2, 105, 62);
  --brand-surface-6: rgb(221, 44, 83);
  --loam---web-library---colors--text: var(--loam---web-library_swatches---neutrals--black);
  --loam---web-library---colors--primary-action: var(--loam---web-library_swatches---neutrals--black);
  --loam---web-library---colors--primary-accent: var(--loam---web-library_swatches---blueberry--400);
  --loam---web-library---colors--border: #302f2c;
  --border: 1px solid rgba(231,231,231,0.25);
  --dashed-border: 1px dashed #e7e7e7;
  --clay-success: #047e4a;
  --clay-info: #038ff7;
  --clay-warning: #fcbe11;
  --clay-error: #b21a3f;
  --_theme--cards---border: #ffffff1a;
  --_theme--terra-card---background-three: #ffffff;
  --_theme--terra-card---border: var(--loam---web-library_terra-swatches---oat--oat-200);
  --_theme--pricing-cards---background: #fff0;
  --loam---web-library_swatches---lemon--300: #fcbe11;
  --loam---web-library_swatches---dragonfruit--400: #cc089e;
  --loam---web-library_swatches---lime--300: #cbd810;
  --loam---web-library_swatches---oat--400: #7b7974;
  --loam---web-library_swatches---oat--300: #d1cdc7;
  --loam---web-library_swatches---lime--200: #eef673;
  --loam---web-library_swatches---oat--100: #fefdfb;
  --loam---web-library_swatches---ube--400: #6d4cd6;
  --loam---web-library_swatches---ube--200: #c8bbfb;
  --loam---web-library_swatches---slushie--500: #002833;
  --loam---web-library_swatches---lemon--500: #372100;
  --loam---web-library_swatches---dragonfruit--500: #45012e;
  --loam---web-library_swatches---blueberry--200: #bedffd;
  --loam---web-library_swatches---dragonfruit--200: #f8b9e3;
  --loam---web-library_swatches---blueberry--300: #429dff;
  --loam---web-library_swatches---lemon--200: #fae188;
  --loam---web-library_swatches---tangerine--300: #ff7614;
  --loam---web-library_swatches---slushie--400: #008aad;
  --loam---web-library_swatches---pomegranate--500: #390307;
  --loam---web-library_terra-swatches---slushie--slushie-400: #008bad;
  --loam---web-library_swatches---ube--300: #a07bf9;
  --loam---web-library_swatches---blueberry--500: #001433;
  --loam---web-library_terra-swatches---blueberry--blueberry-400: #395afa;
  --loam---web-library_terra-swatches---blueberry--blueberry-200: #bedffe;
  --loam---web-library_terra-swatches---slushie--slushie-200: #aaebfd;
  --loam---web-library_swatches---slushie--100: #f0fcff;
  --loam---web-library_terra-swatches---lime--lime-500: #102b03;
  --loam---web-library_terra-swatches---lime--lime-200: #eef773;
  --loam---web-library_swatches---lime--100: #fcfee2;
  --loam---web-library_terra-swatches---lemon--lemon-500: #372201;
  --loam---web-library_terra-swatches---lemon--lemon-400: #9e5802;
  --loam---web-library_terra-swatches---lemon--lemon-300: #fdbe11;
  --loam---web-library_terra-swatches---lemon--lemon-200: #fbe189;
  --loam---web-library_swatches---lemon--100: #fefae8;
  --loam---web-library_terra-swatches---tangerine--tangerine-500: #381005;
  --loam---web-library_terra-swatches---tangerine--tangerine-400: #b53d0a;
  --loam---web-library_terra-swatches---tangerine--tangerine-200: #fcc9ab;
  --loam---web-library_swatches---pomegranate--400: #c22e3d;
  --loam---web-library_swatches---pomegranate--300: #fb4450;
  --loam---web-library_swatches---pomegranate--200: #fcbabe;
  --loam---web-library_swatches---pomegranate--100: #fff1f2;
  --loam---web-library_terra-swatches---dragonfruit--dragonfruit-500: #46022f;
  --loam---web-library_terra-swatches---dragonfruit--dragonfruit-300: #ff70d2;
  --loam---web-library_terra-swatches---dragonfruit--dragonfruit-200: #f8b9e4;
  --loam---web-library_swatches---dragonfruit--100: #fff0fa;
  --loam---web-library_swatches---ube--500: #160038;
  --loam---web-library_terra-swatches---ube--ube-300: #a17bf9;
  --loam---web-library_swatches---dragonfruit--300: #ff70d1;
  --loam---web-library_swatches---lemon--400: #9e5801;
  --loam---web-library_swatches---lime--400: #7f7f00;
  --loam---web-library_swatches---lime--500: #102b02;
  --loam---web-library_swatches---slushie--200: #aaeafc;
  --loam---web-library_swatches---tangerine--200: #fcc9aa;
  --loam---web-library_swatches---tangerine--400: #b53c09;
  --loam---web-library_swatches---tangerine--500: #371005;
  --loam---web-library_color---secondary--blue: #0073e6;
  --clay-bg-surface: rgb(203, 216, 16);
  --clay-accent-hover: rgb(255, 118, 20);
  --loam---web-library_color---neutral--black<deleted|variable-c36ac7e1-8fbe-02c8-b299-0725f37835b2>: #1d1c1a;
  --_theme--terra-card---button-light: white;
  --loam---web-library_color---secondary--yellow<deleted|variable-9968a3b0-2914-6749-6f13-da8b7daee1ee>: #f8d47a;
  --loam---web-library_color---secondary--blue<deleted|variable-79ac7cfe-5399-ceee-c3b8-67b92fc66a66>: #0073e6;
  --loam---web-library---colors--border<deleted|variable-153c7f1c-5103-5586-e137-6fbaee48816e>: #302f2c;
  --color--blue-500<deleted|variable-ebe93488-89c6-a5cd-d5e1-dded8473b4b5>: #038ff7;
  --color--clay-black<deleted|variable-26800bf5>: var(--_swatches---color--black);
  --archive--medium-purple<deleted|variable-7fcb262b>: #9170e6;
  --archive--slate-grey<deleted|variable-1ed44f93>: #676d7e;
  --archive--alice-blue<deleted|variable-4b33b3bb>: #f3f7fe;
  --archive--dark-grey<deleted|variable-eb42266a>: #a0a0a0;
  --_theme--chips---background: var(--_swatches---color--blueberry-900);
  --_swatches---color--grey-border<deleted|variable-21448b64-1391-d1a2-0faa-3eb7fb0cf75f>: var(--_swatches---color--grey-200);
  --_terra--swatches-remove---oat--oat-200<deleted|variable-e3420190-630a-e3ca-0fbd-a4b37ecb51e1>: #f4f3f0;
  --color--grey-medium<deleted|variable-8c6b4a1d-24b1-aa41-3363-37e53d4709f8>: #a2a8b7;
  --color--green-600<deleted|variable-1be72259-5255-72a7-9424-f413d6a9c046>: #047e4a;
  --_theme--terra-card---background-one: var(--loam---web-library_terra-swatches---oat--oat-200);
  --_theme--terra-card---background-two: var(--loam---web-library_terra-swatches---oat--oat-300);
  --_theme--cards---border<deleted|variable-392a37ad-dfd7-ea70-fbc4-13492a35e88d>: #ffffff1a;
  --_terra--swatches-remove---pomegranate--pomegranate-500<deleted|variable-f75608ef-8c42-175d-798a-42b908415e09>: #3a0308;
  --_terra--swatches-remove---blueberry--blueberry-300<deleted|variable-03031faf-6fe2-2dad-f59a-4ef38e7303db>: #429eff;
  --_terra--swatches-remove---tangerine--tangerine-300<deleted|variable-7c0326fd-c9f8-2d96-3b99-cfa68e943a61>: #ff7714;
  --loam---web-library_color---neutral--light-gray<deleted|variable-ecceeb49-d453-ebd8-c6f6-56dc67c47ce0>: #dfddd6;
  --brand-surface-1: rgb(203, 216, 16);
  --brand-surface-2: rgb(255, 118, 20);
  --brand-surface-3: rgb(66, 157, 255);
  --brand-surface-4: rgb(139, 4, 92);
  --brand-surface-5: rgb(2, 105, 62);
  --brand-surface-6: rgb(221, 44, 83);

  /* === TYPOGRAPHY === */
  --fonts--primary-font-family: Roobertvf, Arial, sans-serif;
  --fonts--secondary-font-family: "Canela Web", sans-serif;
  --clay-font-mono: "Roobert mono", Arial, sans-serif;
  --_theme--chips---text: var(--_swatches---color--white);
  --_theme--terra-card---text-primary: var(--loam---web-library_terra-swatches---oat--oat-500);
  --_theme--terra-card---text-secondary: var(--loam---web-library_terra-swatches---oat--oat-200);
  --_theme--pricing-cards---text: var(--_swatches---color--black);
  --_typography---fonts--secondary-font: "Roobert mono", Arial, sans-serif;
  --loam---web-library_typography---fonts--primary-font: Roobert, Arial, sans-serif;
  --loam---web-library_typography---h1--font-size-min-rem: 2.8;
  --loam---web-library_typography---h1--font-size-max-rem: 5.5;
  --loam---web-library_typography---h1--line-height: 1;
  --loam---web-library_typography---h1--letter-spacing: -.04em;
  --loam---web-library_typography---h1--font-weight: 600;
  --loam---web-library_typography---h2--font-size-min-rem: 2;
  --loam---web-library_typography---h2--font-size-max-rem: 3.8;
  --loam---web-library_typography---h2--line-height: 1.1;
  --loam---web-library_typography---h2--letter-spacing: -.04em;
  --loam---web-library_typography---h3--font-size-min-rem: 1.5;
  --loam---web-library_typography---h3--font-size-max-rem: 2.3;
  --loam---web-library_typography---h3--line-height: 1.2;
  --loam---web-library_typography---h3--letter-spacing: -.04em;
  --loam---web-library_typography---eyebrow--font-size-min-rem: .7;
  --loam---web-library_typography---eyebrow--font-size-max-rem: .8;
  --loam---web-library_typography---eyebrow--line-height: 1.2;
  --loam---web-library_typography---eyebrow--letter-spacing: 0.1em;
  --loam---web-library_typography---eyebrow--font-weight: 500;
  --clay-font-weight-semibold: 550;
  --font-size: 2rem;
  --loam---web-library_components---input-label--font-size: 0.9rem;
  --loam---web-library_components---button--font: var(--loam---web-library_typography---fonts--primary-font);
  --loam---web-library_components---button--font-size: 1rem;
  --loam---web-library_components---button--line-height: 1.3em;
  --loam---web-library_components---button--font-weight: 400;
  --loam---web-library_components---button--letter-spacing: 0em;
  --loam---web-library_typography---eyebrow--font: var(--loam---web-library_typography---fonts--secondary-font);
  --loam---web-library_typography---eyebrow--font-size: clamp(var(--loam---web-library_typography---eyebrow--font-size-min-rem)*1rem,((var(--loam---web-library_typography---eyebrow--font-size-min-rem) - ((var(--loam---web-library_typography---eyebrow--font-size-max-rem) - var(--loam---web-library_typography---eyebrow--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min))*var(--loam---web-library_layout---fluid--min)))*1rem + ((var(--loam---web-library_typography---eyebrow--font-size-max-rem) - var(--loam---web-library_typography---eyebrow--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min)))*100vw),var(--loam---web-library_typography---eyebrow--font-size-max-rem)*1rem);
  --fonts--body-font: var(--fonts--primary-font-family);
  --line-height: 1.2em;
  --heading-h0--font-size: 2.5rem;
  --_typography---h1--font-size: var(--loam---web-library_typography--restart---h1--font-size);
  --_typography---h1--font-weight: var(--loam---web-library_typography--restart---h1--font-weight);
  --_typography---h1--letter-spacing: var(--loam---web-library_typography--restart---h1--letter-spacing);
  --_typography---paragraph-medium--font-size: var(--loam---web-library_typography--restart---paragraph-medium--font-size);
  --_typography---paragraph-medium--line-height: var(--loam---web-library_typography--restart---paragraph-medium--line-height);
  --_typography---paragraph-medium--letter-spacing: var(--loam---web-library_typography--restart---paragraph-medium--letter-spacing);
  --_typography---h2--font-size: var(--loam---web-library_typography--restart---h2--font-size);
  --_typography---h2--line-height: var(--loam---web-library_typography--restart---h2--line-height);
  --_typography---h2--font-weight: var(--loam---web-library_typography--restart---h2--font-weight);
  --_typography---h2--letter-spacing: var(--loam---web-library_typography--restart---h2--letter-spacing);
  --_typography---paragraph-regular--line-height: var(--loam---web-library_typography--restart---paragraph-regular--line-height);
  --_typography---paragraph-regular--letter-spacing: var(--loam---web-library_typography--restart---paragraph-regular--letter-spacing);
  --_typography---h3--font: var(--_typography---fonts--primary-font);
  --_typography---h3--font-size: var(--loam---web-library_typography--restart---h3--font-size);
  --_typography---h3--line-height: var(--loam---web-library_typography--restart---h3--line-height);
  --_typography---h3--font-weight: var(--loam---web-library_typography--restart---h3--font-weight);
  --_typography---h3--letter-spacing: var(--loam---web-library_typography---h3--letter-spacing);
  --_typography---paragraph-small--font-size: var(--loam---web-library_typography--restart---paragraph-small--font-size);
  --_typography---paragraph-small--line-height: var(--loam---web-library_typography--restart---paragraph-small--line-height);
  --_typography---paragraph-small--letter-spacing: var(--loam---web-library_typography--restart---paragraph-small--letter-spacing);
  --fonts--body-font-family: Inter,sans-serif;
  --_typography---h1--line-height: var(--loam---web-library_typography--restart---h1--line-height);
  --loam---web-library_components---input--line-height: 1.5em;
  --heading-h0--letter-spacing: 0px;
  --heading-h0--font-weight: 600px;
  --loam---web-library_typography---h1--font-size: clamp(var(--loam---web-library_typography---h1--font-size-min-rem)*1rem,((var(--loam---web-library_typography---h1--font-size-min-rem) - ((var(--loam---web-library_typography---h1--font-size-max-rem) - var(--loam---web-library_typography---h1--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min))*var(--loam---web-library_layout---fluid--min)))*1rem + ((var(--loam---web-library_typography---h1--font-size-max-rem) - var(--loam---web-library_typography---h1--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min)))*100vw),var(--loam---web-library_typography---h1--font-size-max-rem)*1rem);
  --loam---web-library_typography---h2--font-size: clamp(var(--loam---web-library_typography---h2--font-size-min-rem)*1rem,((var(--loam---web-library_typography---h2--font-size-min-rem) - ((var(--loam---web-library_typography---h2--font-size-max-rem) - var(--loam---web-library_typography---h2--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min))*var(--loam---web-library_layout---fluid--min)))*1rem + ((var(--loam---web-library_typography---h2--font-size-max-rem) - var(--loam---web-library_typography---h2--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min)))*100vw),var(--loam---web-library_typography---h2--font-size-max-rem)*1rem);
  --loam---web-library_typography---h3--font-size: clamp(var(--loam---web-library_typography---h3--font-size-min-rem)*1rem,((var(--loam---web-library_typography---h3--font-size-min-rem) - ((var(--loam---web-library_typography---h3--font-size-max-rem) - var(--loam---web-library_typography---h3--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min))*var(--loam---web-library_layout---fluid--min)))*1rem + ((var(--loam---web-library_typography---h3--font-size-max-rem) - var(--loam---web-library_typography---h3--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min)))*100vw),var(--loam---web-library_typography---h3--font-size-max-rem)*1rem);
  --loam---web-library_typography---h4--font-size: clamp(var(--loam---web-library_typography---h4--font-size-min-rem)*1rem,((var(--loam---web-library_typography---h4--font-size-min-rem) - ((var(--loam---web-library_typography---h4--font-size-max-rem) - var(--loam---web-library_typography---h4--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min))*var(--loam---web-library_layout---fluid--min)))*1rem + ((var(--loam---web-library_typography---h4--font-size-max-rem) - var(--loam---web-library_typography---h4--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min)))*100vw),var(--loam---web-library_typography---h4--font-size-max-rem)*1rem);
  --loam---web-library_typography---h4--font-size-min-rem: 1.3;
  --loam---web-library_typography---h4--line-height: 1.4;
  --loam---web-library_typography---h5--font-size: clamp(var(--loam---web-library_typography---h5--font-size-min-rem)*1rem,((var(--loam---web-library_typography---h5--font-size-min-rem) - ((var(--loam---web-library_typography---h5--font-size-max-rem) - var(--loam---web-library_typography---h5--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min))*var(--loam---web-library_layout---fluid--min)))*1rem + ((var(--loam---web-library_typography---h5--font-size-max-rem) - var(--loam---web-library_typography---h5--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min)))*100vw),var(--loam---web-library_typography---h5--font-size-max-rem)*1rem);
  --loam---web-library_typography---h6--font-size: clamp(var(--loam---web-library_typography---h6--font-size-min-rem)*1rem,((var(--loam---web-library_typography---h6--font-size-min-rem) - ((var(--loam---web-library_typography---h6--font-size-max-rem) - var(--loam---web-library_typography---h6--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min))*var(--loam---web-library_layout---fluid--min)))*1rem + ((var(--loam---web-library_typography---h6--font-size-max-rem) - var(--loam---web-library_typography---h6--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min)))*100vw),var(--loam---web-library_typography---h6--font-size-max-rem)*1rem);
  --loam---web-library_typography---h6--font-size-min-rem: .9;
  --loam---web-library_typography---paragraph-xl--font-size: clamp(var(--loam---web-library_typography---paragraph-xl--font-size-min-rem)*1rem,((var(--loam---web-library_typography---paragraph-xl--font-size-min-rem) - ((var(--loam---web-library_typography---paragraph-xl--font-size-max-rem) - var(--loam---web-library_typography---paragraph-xl--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min))*var(--loam---web-library_layout---fluid--min)))*1rem + ((var(--loam---web-library_typography---paragraph-xl--font-size-max-rem) - var(--loam---web-library_typography---paragraph-xl--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min)))*100vw),var(--loam---web-library_typography---paragraph-xl--font-size-max-rem)*1rem);
  --loam---web-library_typography---paragraph-lg--font-size: clamp(var(--loam---web-library_typography---paragraph-lg--font-size-min-rem)*1rem,((var(--loam---web-library_typography---paragraph-lg--font-size-min-rem) - ((var(--loam---web-library_typography---paragraph-lg--font-size-max-rem) - var(--loam---web-library_typography---paragraph-lg--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min))*var(--loam---web-library_layout---fluid--min)))*1rem + ((var(--loam---web-library_typography---paragraph-lg--font-size-max-rem) - var(--loam---web-library_typography---paragraph-lg--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min)))*100vw),var(--loam---web-library_typography---paragraph-lg--font-size-max-rem)*1rem);
  --loam---web-library_typography---paragraph-lg--font-size-max-rem: 1.25;
  --loam---web-library_typography---paragraph-body--font-size: clamp(var(--loam---web-library_typography---paragraph-body--font-size-min-rem)*1rem,((var(--loam---web-library_typography---paragraph-body--font-size-min-rem) - ((var(--loam---web-library_typography---paragraph-body--font-size-max-rem) - var(--loam---web-library_typography---paragraph-body--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min))*var(--loam---web-library_layout---fluid--min)))*1rem + ((var(--loam---web-library_typography---paragraph-body--font-size-max-rem) - var(--loam---web-library_typography---paragraph-body--font-size-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min)))*100vw),var(--loam---web-library_typography---paragraph-body--font-size-max-rem)*1rem);
  --loam---web-library_typography---paragraph-body--line-height: 1.6;
  --loam---web-library_typography---paragraph-sm--font-size-min-rem: .75;
  --loam---web-library_typography-v2---h1--font-2: var(--loam---web-library_typography-v2---fonts--primary-font-2);
  --loam---web-library_typography-v2---eyebrow--font-2: var(--loam---web-library_typography-v2---fonts--secondary-font-2);
  --loam---web-library_typography--restart---h1--font: var(--loam---web-library_typography--restart---fonts--primary-font);
  --loam---web-library_typography--restart---h1--font-size: 5.5rem;
  --loam---web-library_typography--restart---h1--font-weight: 575;
  --loam---web-library_typography--restart---h2--letter-spacing: -.03em;
  --loam---web-library_typography--restart---h3--letter-spacing-3: -.02em;
  --loam---web-library_typography--restart---paragraph-small--font-size: .875rem;
  --loam---web-library_typography--restart---eyebrow--font-3: var(--loam---web-library_typography--restart---fonts--secondary-font);
  --_typography---h4--font-weight: 0;
  --_typography---paragraph-medium--font-weight: var(--loam---web-library_typography--restart---paragraph-medium--font-weight);
  --_typography---paragraph-regular--font-size: var(--loam---web-library_typography--restart---paragraph-regular--font-size);
  --_typography---paragraph-regular--font-weight: var(--loam---web-library_typography--restart---paragraph-regular--font-weight);
  --_typography---paragraph-small--font-weight: var(--loam---web-library_typography--restart---paragraph-small--font-weight);
  --font-size-xs: 12.8px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 32px;
  --font-size-2xl: 44px;
  --font-size-3xl: 60px;
  --font-weight-semibold: 550;
  --line-height-tight: 19.6px;
  --line-height-normal: 21px;
  --line-height-loose: 24px;
  --clay-font-size-xs: 12.8px;
  --clay-font-size-sm: 14px;
  --clay-font-size-md: 16px;
  --clay-font-size-lg: 20px;
  --clay-font-size-xl: 32px;
  --clay-font-size-2xl: 44px;
  --clay-font-size-3xl: 60px;
  --clay-line-height-tight: 19.6px;
  --clay-line-height-normal: 21px;
  --clay-line-height-loose: 24px;
  --loam---web-library_typography---h4--letter-spacing: 0em;
  --loam---web-library_typography---paragraph-xl--line-height: 1.4;
  --loam---web-library_typography---paragraph-lg--line-height: 1.5;
  --loam---web-library_typography---paragraph-sm--font-size: 0.75rem;
  --loam---web-library_typography---paragraph-sm--line-height: 1.5;
  --loam---web-library_components---input--font-size: 1rem;
  --loam---web-library_components---input-label--line-height: 1em;
  --heading-–-h3--font-size: 1.25rem;
  --loam---web-library_typography---type-paragraph-lg--font-size-sm<deleted|variable-9571b88c-f7e6-8499-c3a7-32a45a896135>: 1.1rem;
  --heading-–-h2--font-size: 2rem;
  --loam---web-library_size---3rem: 3rem;
  --loam---web-library_sizes---1-5rem: 1.5rem;
  --loam---web-library_sizes---5rem: 5rem;
  --loam---web-library_sizes---0-75rem: .75rem;
  --heading-–-h1--line-height: 1em;
  --heading-–-h2--line-height: 1.2em;
  --loam---web-library_sizes---1-75rem: 1.75rem;
  --loam---web-library_sizes---0-25rem: .25rem;
  --loam---web-library_sizes---0-5rem: .5rem;
  --loam---web-library_sizes---1-125rem: 1.125rem;
  --loam---web-library_sizes---2-25rem: 2.25rem;
  --loam---web-library_sizes---3-5rem: 3.5rem;
  --loam---web-library_sizes---4rem: 4rem;
  --loam---web-library_sizes---6rem: 6rem;
  --loam---web-library_sizes---7rem: 7rem;
  --loam---web-library_sizes---8rem: 8rem;
  --loam---web-library_sizes---9rem: 9rem;
  --loam---web-library_sizes---10rem: 10rem;
  --font-size-xs: 12.8px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 32px;
  --font-size-2xl: 44px;
  --font-size-3xl: 60px;
  --font-weight-semibold: 550;
  --line-height-tight: 19.6px;
  --line-height-normal: 21px;
  --line-height-loose: 24px;

  /* === SPACING === */
  --clay-space-sm: 12px;
  --clay-space-md: 24px;
  --clay-space-lg: 20px;
  --clay-space-2xl: 32px;
  --loam---web-library_typography---h1--bottom-margin: .3em;
  --loam---web-library_typography---h2--bottom-margin: .2em;
  --loam---web-library_typography---h3--bottom-margin: .3em;
  --loam---web-library_typography---eyebrow--bottom-margin: 1.5em;
  --clay-space-3xl: 130.27px;
  --clay-space-xs: 0.2em;
  --clay-space-xl: 1.75rem;
  --spacing--0-25rem: 0.25rem;
  --spacing--0-5rem: 0.5rem;
  --spacing--0-75rem: 0.75rem;
  --spacing--0-875rem: .875rem;
  --spacing--1rem: 1rem;
  --spacing--1-25rem: 1.25rem;
  --spacing--1-5rem: 1.5rem;
  --spacing--1-75rem: 1.75rem;
  --spacing--2rem: 2rem;
  --spacing--2-5rem: 2.5rem;
  --spacing--3rem: 3rem;
  --spacing--4rem: 4rem;
  --spacing--4-5rem: 4.5rem;
  --spacing--5rem: 5rem;
  --spacing--6rem: 6rem;
  --spacing--7rem: 7rem;
  --spacing--8rem: 8rem;
  --spacing--11rem: 11rem;
  --layout--section-padding-xs: var(--spacing--3rem);
  --layout--section-padding-sm: var(--spacing--3rem);
  --layout--section-padding-md: var(--spacing--4rem);
  --layout--section-padding-lg: var(--spacing--6rem);
  --layout--section-padding-xl: var(--spacing--8rem);
  --loam---web-library_components---section--padding-min-rem: 3;
  --loam---web-library_components---section--padding-max-rem: 6;
  --loam---web-library_layout---grid--gap-sm: 8px;
  --loam---web-library_layout---grid--gap-md: 24px;
  --loam---web-library_layout---grid--gap-main: 40px;
  --loam---web-library_layout---grid--gap-button: 16px;
  --layout--row-col-gap: 1rem;
  --loam---web-library_layout--restart---gap--small: 1rem;
  --loam---web-library_layout--restart---gap--regular: 1.25rem;
  --loam---web-library_layout--restart---gap--medium: 1.5rem;
  --loam---web-library_layout--restart---gap--large: 1.5rem;
  --loam---web-library_layout---spacing--margin-xs: .5em;
  --loam---web-library_layout---spacing--margin-sm: 1em;
  --loam---web-library_layout---spacing--margin-md: 2em;
  --loam---web-library_layout---spacing--margin-lg: 3em;
  --loam---web-library_components---card--padding-min-rem: 1;
  --loam---web-library_components---card--padding-max-rem: 1.5;
  --loam---web-library_size---3rem: 3rem;
  --loam---web-library_sizes---1-5rem: 1.5rem;
  --loam---web-library_sizes---5rem: 5rem;
  --loam---web-library_sizes---1-75rem: 1.75rem;
  --loam---web-library_sizes---1-125rem: 1.125rem;
  --loam---web-library_sizes---2-25rem: 2.25rem;
  --loam---web-library_sizes---3-5rem: 3.5rem;
  --loam---web-library_sizes---4rem: 4rem;
  --loam---web-library_sizes---6rem: 6rem;
  --loam---web-library_sizes---7rem: 7rem;
  --loam---web-library_sizes---8rem: 8rem;
  --loam---web-library_sizes---9rem: 9rem;
  --loam---web-library_sizes---10rem: 10rem;
  --loam---web-library_components---button--vertical-padding: .7em;
  --loam---web-library_components---button--horizontal-padding: 1em;
  --loam---web-library_components---card--padding: clamp(var(--loam---web-library_components---card--padding-min-rem)*1rem,((var(--loam---web-library_components---card--padding-min-rem) - ((var(--loam---web-library_components---card--padding-max-rem) - var(--loam---web-library_components---card--padding-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min))*var(--loam---web-library_layout---fluid--min)))*1rem + ((var(--loam---web-library_components---card--padding-max-rem) - var(--loam---web-library_components---card--padding-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min)))*100vw),var(--loam---web-library_components---card--padding-max-rem)*1rem);
  --loam---web-library_components---section--padding: clamp(var(--loam---web-library_components---section--padding-min-rem)*1rem,((var(--loam---web-library_components---section--padding-min-rem) - ((var(--loam---web-library_components---section--padding-max-rem) - var(--loam---web-library_components---section--padding-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min))*var(--loam---web-library_layout---fluid--min)))*1rem + ((var(--loam---web-library_components---section--padding-max-rem) - var(--loam---web-library_components---section--padding-min-rem))/(var(--loam---web-library_layout---fluid--max) - var(--loam---web-library_layout---fluid--min)))*100vw),var(--loam---web-library_components---section--padding-max-rem)*1rem);
  --form--gap: var(--spacing--1-5rem);
  --_layout---gap--small: var(--loam---web-library_layout--restart---gap--small);
  --_layout---gap--regular: var(--loam---web-library_layout--restart---gap--regular);
  --_layout---gap--large: var(--loam---web-library_layout--restart---gap--large);
  --_layout---gap--medium: var(--loam---web-library_layout--restart---gap--medium);
  --loam---web-library_typography---h4--bottom-margin: .4em;
  --loam---web-library_typography---h6--bottom-margin: .6em;
  --space-sm: 12px;
  --space-lg: 20px;
  --space-2xl: 32px;
  --space-3xl: 130.27px;
  --paragraph--default: .87rem;
  --paragraph--small: .875rem;
  --_theme--terra-card---border: var(--loam---web-library_terra-swatches---oat--oat-200);
  --border: 1px solid rgba(231, 231, 231, 0.25);
  --dashed-border: 1px dashed #e7e7e7;
  --space-sm: 12px;
  --space-lg: 20px;
  --space-2xl: 32px;
  --space-3xl: 130.27px;

  /* === BORDER RADIUS === */
  --clay-radius-full: 12px;
  --loam---web-library_border-radius---radius-sm: 0.75rem;
  --loam---web-library_border-radius---radius-md: 1rem;
  --loam---web-library_border-radius---radius-lg: 1.25rem;
  --loam---web-library_components---card--border-radius: 0rem;
  --loam---web-library_components---button--border-radius: 0.5rem;
  --loam---web-library_border-radius---radius-xs: var(--loam---web-library_sizes---0-5rem);
  --loam---web-library_border-radius---radius-xl: var(--loam---web-library_sizes---1-5rem);
  --loam---web-library_border-radius---rounded: 999rem;
  --radius--small: 0.25rem;
  --radius--large: 1rem;
  --_layout---radius--regular: var(--loam---web-library_layout--restart---radius--regular);
  --_layout---radius--large: var(--loam---web-library_layout--restart---radius--large);
  --_layout---radius--medium: var(--loam---web-library_layout--restart---radius--medium);
  --_layout---radius--small: var(--loam---web-library_layout--restart---radius--small);
  --loam---web-library_layout--restart---radius--large: 1.75rem;
  --loam---web-library_layout--restart---radius--medium: 1.25rem;
  --loam---web-library_layout--restart---radius--regular: .875rem;
  --loam---web-library_layout--restart---radius--small: .75rem;
  --radius-sm: 4px;
  --radius-md: 11px;
  --radius-lg: 11.2px;
  --radius-full: 12px;
  --loam---web-library_components---input--border-radius: 0.5rem;
  --radius-sm: 4px;
  --radius-md: 11px;
  --radius-lg: 11.2px;
  --radius-full: 12px;

  /* === EFFECTS === */
  --clay-shadow-none: none;
  --clay-shadow-card: rgba(0, 0, 0, 0.05) 0px 2px 5px;
  --clay-shadow-focus: rgb(255, 255, 255) 0px 0px 0px 2px;
  --clay-shadow-nav-banner-hover: rgba(0, 0, 0, 0.15) 0px 0px 0px 100px inset;
  --loam---web-library_swatches---neutrals--black: var(--loam---web-library_swatches---oat--500);
  --loam---web-library_swatches---neutrals--white: var(--loam---web-library_swatches---oat--100);
  --loam---web-library_components---container--max-width: calc(var(--loam---web-library_layout---fluid--max)*1rem);
  --_theme--terra-card---foreground: var(--loam---web-library_terra-swatches---oat--oat-400);
  --i: 0;
  --_states---on: 1;
  --loam---web-library_swatches---blueberry--100: aliceblue;
  --_layout---card--large: var(--loam---web-library_layout--restart---card--large);
  --_layout---card--regular: var(--loam---web-library_layout--restart---card--regular);
  --_layout---section-vertical--regular: var(--loam---web-library_layout--restart---section-vertical--regular);
  --_layout---section-vertical--small: var(--loam---web-library_layout--restart---section-vertical--small);
  --_layout---section-vertical--medium: var(--loam---web-library_layout--restart---section-vertical--medium);
  --_layout---section-vertical--large: var(--loam---web-library_layout--restart---section-vertical--large);
  --loam---web-library_terra-swatches---lime--lime-400: olive;
  --_layout---section-horizontal--large: var(--loam---web-library_layout--restart---section-horizontal--large);
  --_layout---section-horizontal--medium: var(--loam---web-library_layout--restart---section-horizontal--medium);
  --_layout---section-horizontal--regular: var(--loam---web-library_layout--restart---section-horizontal--regular);
  --_layout---card--medium: var(--loam---web-library_layout--restart---card--medium);
  --_layout---card--small: var(--loam---web-library_layout--restart---card--small);
  --loam---web-library_layout---fluid--max: 90;
  --loam---web-library_layout---fluid--min: 20;

  /* === MOTION === */
  --motion---motion-spin: @keyframes spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
};
  --motion---motion-load: @keyframes load { 
  100% { background-position: -100% 0px; }
};
  --motion---motion-marquee: @keyframes marquee { 
  100% { transform: translateX(-50%); }
};
  --motion---motion-fadein: @keyframes fadein { 
  0% { opacity: 0; }
  100% { opacity: 1; }
};
  --motion---motion-marquee-up: @keyframes marquee-up { 
  0% { transform: translateY(0%); }
  100% { transform: translateY(-400%); }
};
  --motion---motion-marquee-down: @keyframes marquee-down { 
  0% { transform: translateY(0%); }
  100% { transform: translateY(400%); }
};
  --motion---motion-logos-marquee: @keyframes logos-marquee { 
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
};
  --motion---motion-pulse: @keyframes pulse { 
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(1.25); opacity: 0; }
};
  --motion---motion-bouncy: @keyframes bouncy { 
  0% { transform: rotateZ(0deg); }
  50% { transform: rotateZ(-4deg); }
  100% { transform: rotateZ(0deg); }
};
  --duration-fast: 0.25s;
  --duration-base: 0.3s;
  --duration-slow: 0.4s;
  --ease-default: ease;

}